@import './config';

/*
Fyrir play og payse takkana
*/
.videotest {
  width: 100%;
}

.headercontent {
  align-items: center;
  text-align: center;
}

.headingtitle {
  align-items: center;
  text-align: center;
}

.video {
  align-items: center;
}

.Playclass-button {
  display: none;
}

.Playclass-button-visable {
  display: block;
}

.Pauseclass-button {
  display: none;
}

.Pauseclass-button-visable {
  display: block;
}

.Muteclass-button {
  display: none;
}

.Muteclass-button-visable {
  display: block;
}

.unmuteclass-button {
  display: none;
}

.videoimg {
  cursor: pointer;
  height: 50px;
  margin: 0 0.5rem;
  width: 50px;
}

.unmuteclass-button-visable {
  display: block;
}

.currVideo {
  position: relative;
}

.video-img {
  cursor: pointer;
  height: 50px;
  margin: 0 0.5rem;
  width: 50px;
}

video {
  cursor: pointer;
  width: 100%;
}

.playButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.overlay {
  bottom: 66%;
  height: 50px;
  position: absolute;
  right: 0%;
  width: 100%;
}

.overlay-hidden {
  display: none;
}
